.father {
  height: 3300px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.container {
  border-style: solid;
  border-color: black;
  height: 3300px;
  width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.first {
  /* border-style: solid; */
  /* border-color: #000000; */
  width: 1440px;
  height: 780px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}
.pine {
  /* border-style: solid; */
  /* border-color: #000000; */
  width: 1440px;
  height: 58px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lake {
  height: 636px;
  width: 1440px;
  /* border-style: solid; */
  /* border-color: black; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.khuvsgul {
  height: 196px;
  width: 401px;
  /* border-style: solid; */
  /* border-color: black; */
  display: flex;
  flex-direction: column;
  font-weight: bold;
  align-items: center;
}
.picture {
  height: 400px;
  width: 1198px;
  /* border-style: solid; */
  /* border-color: black; */
  display: flex;
  justify-content: space-between;
}
.city {
  border-radius: 15px;
  object-fit: cover;
  width: 250px;
  height: 400px;
}
.text {
  font-size: 85px;
}
.second {
  /* border-style: solid;
  border-color: black; */
  height: 894px;
  width: 1440px;
  display: flex;
  justify-content: center;
}
.third {
  /* border-style: solid; */
  /* border-color: black; */
  height: 600px;
  width: 1440px;
  display: flex;
  justify-content: center;
}
.fourth {
  /* border-style: solid; */
  /* border-color: red; */
  height: 411px;
  width: 1440px;
  background-color: black;
}
.destination {
  /* border-style: solid; */
  /* border-color: red; */
  height: 894px;
  width: 1198px;
  display: flex;
  justify-content: space-between;
}
.tours {
  /* border-style: solid;
  border-color: black; */
  height: 160px;
  width: 358px;
}
.choose {
  /* border-style: solid;
  border-color: black; */
  height: 600px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.choice {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card {
  border-style: solid;
  border-color: black;
  height: 85px;
  width: 400px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.price {
  height: 600px;
  width: 656px;
  /* border-style: solid;
  border-color: black; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.pricing {
  width: 299px;
  height: 160px;
  /* border-color: black;
  border-style: solid; */
}
.luxury {
  width: 656px;
  height: 373px;
  /* border-style: solid;
  border-color: black; */
  display: flex;
  justify-content: space-between;
}
.pack {
  height: 373px;
  width: 308px;
  border-style: solid;
  border-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}
.day {
  font-weight: bold;
  font-size: 25px;
}
.Black {
  font-weight: bold;
  font-size: 25px;
  color: white;
}
.flex1 {
  font-weight: bold;
  font-size: 18px;
  color: white;
  width: 200px;
  height: 60px;
  /* border-style: solid;
  border-color: black; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}
.are {
  height: 103px;
  width: 261px;
  /* border-color: black;
  border-style: solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.new1 {
  border: 1px solid green;
}
.facebook {
  height: 68px;
  width: 1200px;
  /* border-style: solid;
  border-color: black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social {
  width: 361px;
  height: 44px;
  /* border-style: solid;
  border-color: black; */
  display: flex;
  justify-content: space-between;
}
.split {
  color: white;
  font-weight: bold;
  font-size: 25px;
}
.question {
  font-size: 32px;
  font-weight: bold;
  color: white;
}
.button {
  width: 1440px;
  height: 183px;
  /* border-style: solid;
  border-color: black; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.last {
  width: 1440px;
  height: 228px;
  /* border-style: solid;
  border-color: black; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.of {
  width: 358px;
  height: 118px;
  /* border-style: solid;
  border-color: black; */
}
.agency {
  font-size: 50px;
  font-weight: bold;
}
.color {
  font-size: 40px;
  color: #18c74a;
}
.inner {
  width: 360px;
  height: 60px;
  /* border-style: solid;
  border-color: white; */
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
}
.flex {
  width: 250px;
  height: 60px;
  /* border-style: solid;
  border-color: black; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}
.card1 {
  /* border-style: solid;
  border-color: black; */
  height: 85px;
  width: 400px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}
.our {
  width: 299px;
  height: 118px;
  /* border-style: solid;
  border-color: black; */
  font-size: 52px;
  font-weight: bold;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.brand {
  color: #18c74a;
  font-size: 40px;
  display: flex;
  justify-content: center;
}
.four000 {
  width: 277px;
  height: 336px;
  /* border-style: solid;
  border-color: black; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.p {
  font-size: 32px;
  font-weight: bold;
}
.list {
  font-size: 20px;
}
.align {
  height: 214px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}
.new {
  height: 254px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}
.dollar {
  font-size: 32px;
  font-weight: bold;
}
.pack1 {
  height: 373px;
  width: 308px;
  border-style: solid;
  border-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 745px) {
  .container {
    width: 745px;
    height: 3399px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pine {
    border-style: solid;
    border-color: #000000;
    width: 745px;
    height: 58px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .khuvsgul {
    height: 156px;
    width: 321px;
    /* border-style: solid; */
    /* border-color: black; */
    display: flex;
    flex-direction: column;
    font-weight: bold;
    align-items: center;
  }
  .text {
    font-size: 64px;
  }
  .first {
    /* border-style: solid; */
    /* border-color: #000000; */
    width: 745px;
    height: 890px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .lake {
    height: 762px;
    width: 664px;
    /* border-style: solid;
    border-color: black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .picture {
    height: 566px;
    width: 579px;
    /* border-style: solid; 
     border-color: black;  */
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
  }
  .city {
    border-radius: 15px;
    object-fit: cover;
    width: 250px;
    height: 250px;
  }
  .talbai {
    display: none;
  }
  .second {
    /* border-style: solid;
    border-color: black; */
    height: 900px;
    width: 400px;
    display: flex;
    justify-content: center;
  }
  .fourth {
    /* border-style: solid; */
    /* border-color: red; */
    height: 411px;
    width: 744px;
    background-color: black;
  }
  .button {
    width: 745px;
    height: 183px;
    /* border-style: solid;
    border-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .last {
    width: 745px;
    height: 228px;
    /* border-style: solid;
    border-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .facebook {
    height: 68px;
    width: 674px;
    /* border-style: solid;
    border-color: black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media only screen and (max-width: 375px) {
  .container {
    width: 375px;
    height: 3130px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .pine {
    border-style: solid;
    border-color: #000000;
    width: 375px;
    height: 58px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .text {
    font-size: 48px;
  }
  .picture {
    height: 315px;
    width: 315px;
    /* border-color: black;
    border-style: solid; */
    display: flex;
    flex-wrap: wrap;
    gap: 17px;
  }
  .first {
    /* border-style: solid; */
    /* border-color: #000000; */
    width: 375px;
    height: 600px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .city {
    border-radius: 10px;
    object-fit: cover;
    width: 148px;
    height: 148px;
  }
  .lake {
    height: 460px;
    width: 664px;
    /* border-style: solid;
    border-color: black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .destination {
    /* border-style: solid; */
    /* border-color: red; */
    height: 550px;
    width: 312px;
    display: flex;
    justify-content: space-between;
  }
  .card {
    border-style: solid;
    border-color: black;
    height: 65px;
    width: 312px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card1 {
    /* border-style: solid;
    border-color: black; */
    height: 65px;
    width: 315px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
  }
  .color {
    font-size: 16px;
    color: #18c74a;
  }
  .agency {
    font-size: 32px;
    font-weight: bold;
  }
  .inner {
    width: 290px;
    height: 50px;
    /* border-style: solid;
    border-color: black; */
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
  }
  .Black {
    font-weight: bold;
    font-size: 18px;
    color: white;
  }
  .flex1 {
    font-weight: bold;
    font-size: 16px;
    color: white;
    width: 200px;
    height: 45px;
    /* border-style: solid;
    border-color: black; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
  }
  .flex {
    width: 220px;
    height: 45px;
    /* border-style: solid;
    border-color: black; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
  }
  .day {
    font-weight: bold;
    font-size: 18px;
  }
  .tours {
    /* border-style: solid;
    border-color: black; */
    height: 160px;
    width: 312px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .of {
    width: 312px;
    height: 99px;
    /* border-style: solid;
    border-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pack {
    height: 373px;
    width: 308px;
    border-style: solid;
    border-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pack1 {
    height: 373px;
    width: 308px;
    /* border-style: solid;
    border-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .luxury {
    width: 315px;
    height: 783px;
    /* border-style: solid;
    border-color: black; */
    display: flex;

    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .fourth {
    /* border-style: solid; */
    /* border-color: red; */
    height: 459px;
    width: 375px;
    background-color: black;
  }
  .button {
    width: 375px;
    height: 183px;
    /* border-style: solid;
    border-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .last {
    height: 276px;
    width: 375px;
    /* border-style: solid;
    border-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .facebook {
    height: 196px;
    width: 300px;
    /* border-style: solid;
    border-color: green; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .social {
    width: 300px;
    height: 108px;
    /* border-style: solid;
    border-color: black; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .third {
    /* border-style: solid; */
    /* border-color: black; */
    height: 950px;
    width: 375px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  .price {
    height: 950px;
    width: 315px;
    /* border-style: solid;
    border-color: black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .second {
    /* border-style: solid;
    border-color: black; */
    height: 594px;

    display: flex;
    justify-content: center;
  }
  .our {
    width: 299px;
    height: 90px;
    /* border-style: solid;
    border-color: black; */
    font-size: 32px;
    font-weight: bold;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .brand {
    color: #18c74a;
    font-size: 16px;
    display: flex;
    justify-content: center;
  }
  .pricing {
    width: 299px;
    height: 110px;
    /* border-color: black;
    border-style: solid; */
  }
  .split {
    color: white;
    font-weight: bold;
    font-size: 28px;
    width: 300px;
    height: 68px;
  }
  .father {
    height: 3133px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
